@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";
@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/variables";

.activity-container {
  min-width: to-rem(340px);
  
  .card {
    @include theme-aware("background", "card-bg-color");
    border-radius: to-rem(12px);
    padding: to-rem(20px);
    display: flex;
    flex-direction: column;
    gap: to-rem(20px);

    .card-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        @include theme-aware("color", "header-color");
        font-size: to-rem(24px);
        font-weight: 600;
      }
    }

    .activities {
      display: flex;
      flex-direction: column;
      gap: to-rem(20px);

      .activity {
        display: flex;
        gap: to-rem(10px);
        padding-bottom: to-rem(5px);
        border-bottom: solid #262626 to-rem(1px);
        justify-content: space-between;
        flex-wrap: wrap;

        .icon-title-wrapper {
          display: flex;
          gap: to-rem(20px);
          margin-bottom: to-rem(10px);

          .material-icons {
            font-size: $default-fontsize;
          }
        }

        .title {
          justify-self: start;
        }

        .amount {
          justify-self: end;
          display: flex;

          .material-icons {
            font-size: $default-fontsize;
          }
        }

        .type,
        .date,
        .time {
          display: none;

          @include breakpoint("sm") {
            display: inline-grid;
          }
        }

        &.budget {
          @include theme-aware("color", "budget-color");
        }

        &.savings {
          @include theme-aware("color", "savings-color");
        }

        &.inflow {
          @include theme-aware("color", "inflow-color");
        }

        &.outflow {
          @include theme-aware("color", "outflow-color");
        }
      }
    }
  }
}
