@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";
@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/variables";

.activity-container {
  min-width: to-rem(340px);

  .card {
    @include theme-aware("background", "card-bg-color");
    border-radius: to-rem(12px);
    padding: to-rem(20px);
    display: flex;
    flex-direction: column;
    gap: to-rem(20px);

    .card-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        @include theme-aware("color", "header-color");
        font-size: to-rem(24px);
        font-weight: 600;
      }
    }
  }
}
