@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";
@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/variables";

.activity-container {
  min-width: to-rem(340px);

  .card {
    @include theme-aware("background", "card-bg-color");
    border-radius: to-rem(12px);
    padding: to-rem(20px);
    display: flex;
    flex-direction: column;
    gap: to-rem(20px);

    .card-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        @include theme-aware("color", "header-color");
        font-size: to-rem(24px);
        font-weight: 600;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tbody {
        tr {
          // border-bottom: solid #262626 to-rem(1px);

          td {
            padding-block: to-rem(10px);
          }
        }

        .date-header {
          border-bottom: none;

          td {
            padding-top: to-rem(30px);
          }
        }
      }
    }

    .activities {
      .activity {
        .icon-title-wrapper {
          display: flex;
          gap: to-rem(20px);

          .material-icons {
            font-size: $default-fontsize;
          }
        }

        .amount {
          white-space: nowrap;
          .material-icons {
            font-size: $default-fontsize;
          }
        }

        .type,
        .date,
        .time {
          display: none;

          @include breakpoint("sm") {
            display: table-cell;
          }
        }

        &.budget {
          @include theme-aware("color", "budget-color");
        }

        &.savings {
          @include theme-aware("color", "savings-color");
        }

        &.inflow {
          @include theme-aware("color", "inflow-color");
        }

        &.outflow {
          @include theme-aware("color", "outflow-color");
        }
      }
    }
  }
}
