@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/themes";

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .login-card {
    display: flex;
    flex-direction: column;
    gap: to-rem(40px);
    padding: to-rem(20px);
    @include theme-aware("background", "card-bg-color");
    min-width: to-rem(320px);

    h1 {
      text-align: center;
      font-size: to-rem(42px);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: to-rem(50px);
      min-width: to-rem(250px);

      &.sign-up {
        gap: to-rem(70px);
      }

      .form-set {
        position: relative;
        margin-top: to-rem(30px);

        input {
          position: absolute;
          font-size: to-rem(18px);
          padding: to-rem(10px);
          background: none;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom-width: to-rem(1px);
          width: 100%;
          @include theme-aware("color", "text-2-color");
          z-index: 2;

          &:-webkit-autofill {
            animation-name: onAutoFillStart;
          }

          &:not(:-webkit-autofill) {
            animation-name: onAutoFillCancel;
          }

          &:hover {
            cursor: pointer;
          }
        }

        label {
          position: absolute;
          top: to-rem(5px);
          left: to-rem(10px);
          font-size: to-rem(18px);
          z-index: 1;

          &.active {
            animation-name: moveUp;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
          }

          &.inactive {
            animation-name: moveDown;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
            animation-direction: reverse;
          }
        }

        .validation-message {
          position: relative;
          top: to-rem(50px);
          font-size: to-rem(14px);
          @include theme-aware(color, 'outflow-color');
        }
      }

      button {
        width: 100%;
        padding: to-rem(10px);
        border-radius: to-rem(12px);
        border: none;
        font-size: to-rem(18px);
        margin-top: to-rem(50px);
        @include theme-aware("background-color", "budget-color");
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span:nth-last-of-type(1) {
        @include theme-aware("color", "text-2-color");

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes moveUp {
  from {
    transform: translate(initial, initial);
  }

  to {
    transform: translate(to-rem(-5px), -150%);
  }
}

@keyframes moveDown {
  from {
    transform: translate(initial, initial);
  }

  to {
    transform: translate(to-rem(-5px), -150%);
  }
}

@keyframes onAutoFillStart {
}

@keyframes onAutoFillCancel {
}
