@import "../../../Assets/Styles/mixins";
@import "../../../Assets/Styles/functions";
@import "../../../Assets/Styles/themes";

.inflow-outflow-chart {
  .card {
    @include theme-aware("background", "card-bg-color");
    border-radius: to-rem(12px);
    padding: to-rem(20px);

    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: to-rem(20px);

      .legend {
        display: flex;
        gap: to-rem(10px);
        
        .inflow-legend {
            display: flex;
            gap: to-rem(10px);

            .legend-color {
                @include theme-aware('background', 'inflow-color');
                width: to-rem(15px);
                height: to-rem(15px);
            }
        }

        .outflow-legend {
            display: flex;
            gap: to-rem(10px);

            .legend-color {
                @include theme-aware('background', 'outflow-color');
                width: to-rem(15px);
                height: to-rem(15px);
            }
        }
      }

      .duration {
        @include theme-aware("background", "bg-color");
        padding-inline: to-rem(10px);
        padding-block: to-rem(2px);
        border-radius: to-rem(12px);

        &:hover {
            cursor: pointer;
        }
      }
    }
  }
}
