@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";

main {
  #budgets {
    @include theme-aware("background", "card-bg-color");
    padding: to-rem(20px);
    border-radius: to-rem(12px);
    display: flex;
    flex-direction: column;
    gap: to-rem(20px);
    max-height: 79vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(to-rem(280px), 1fr));
    grid-auto-flow: dense;
    gap: to-rem(20px);
    min-width: to-rem(280px);

    &::-webkit-scrollbar {
      width: 5px;
      @include theme-aware("background-color", "card-bg-color");
    }

    &::-webkit-scrollbar-thumb {
      @include theme-aware("background-color", "text-color");
    }
  }

  @include breakpoint("l") {
    #inflow-outflow-chart {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    #recent-activity {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    #category-chart {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    #budgets {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      max-height: 127vh;
    }
  }

  @include breakpoint("xl") {
    #recent-activity {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    #category-chart {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    #budgets {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }
  }
}
