@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";

.topbar {
  @include theme-aware("background", "card-bg-color");
  z-index: 5;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: to-rem(10px) to-rem(20px);
  display: grid;
  grid-template-columns: 2fr 1fr;

  @include breakpoint("m") {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    margin-inline: to-rem(20px);
    margin-top: to-rem(20px);
    border-radius: to-rem(12px);
  }

  .leftTopbar {
    display: flex;
    align-items: center;
    @include theme-aware("color", "header-color");
    @include h2-medium;
    display: none;
    align-self: center;

    @include breakpoint("m") {
      display: block;
    }
  }

  .middleTopbar {
    justify-self: end;
    align-self: center;

    @include breakpoint('m') {
      justify-self: center;
    }
  }

  .rightTopbar {
    justify-self: end;
    display: flex;
    align-items: center;
    .profilePic {
      height: to-rem(40px);
      width: to-rem(40px);
      border-radius: 50%;

      @include breakpoint("m") {
        height: to-rem(60px);
        width: to-rem(60px);
      }
    }

    .material-icons {
      font-size: to-rem(40px);
      border-radius: 50%;

      @include breakpoint("m") {
        font-size: to-rem(60px);
      }
    }

    .profilePic:hover,
    .material-icons:hover {
      cursor: pointer;
    }
  }
}
