// $inflow: #3C8C30;
$inflow: #49AB3B;

// $outflow: #AD0101;
$outflow: #EE0000;

// $savings: #025928;
$savings: #037D38;

$primary-color-light: #14AACF;
$primary-color-dark: #162DF5;

$text-color-light: #707070;

$bg-color-light: #F0F0F0;
$bg-color-dark: #212121;

$header-color-light: #535353;
$header-color-dark: #8E99A4;

$card-bg-color-light: #FFFFFF;
$card-bg-color-dark: #171A1C;

$btn-bg-color: #14AACF;
$btn-text-color: #FFFFFF;


