@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/functions";
@import "../../Assets/Styles/themes";

#spinner-container {
  position: fixed;
  top: to-rem(15px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: to-rem(10px);
  padding: to-rem(5px) to-rem(10px);
  border-radius: to-rem(12px);
  text-align: center;

  #spinner {
    border-top: to-rem(3px) solid;
    height: to-rem(15px);
    width: to-rem(15px);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &.loading {
    @include theme-aware("background", "bg-color");
    color: #fff;
  }

  &.error {
    @include theme-aware("background", "outflow-color");
    color: #fff;

    #spinner {
      display: none;
    }
  }

  &.success {
    @include theme-aware("background", "inflow-color");
    color: #fff;

    #spinner {
      display: none;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
