@import "../../../../Assets/Styles/mixins";
@import "../../../../Assets/Styles/functions";
@import "../../../../Assets/Styles/themes";

.carousel {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: to-rem(20px);
    padding: to-rem(20px);
    @include theme-aware("background", "card-bg-color");
    border-radius: to-rem(12px);
    min-width: to-rem(200px);
    flex-grow: 1;

    &:nth-of-type(1) {
      margin-left: to-rem(20px);
    }

    &:nth-last-of-type(1) {
      margin-inline-end: to-rem(20px);
    }

    &.balance {
      justify-content: stretch;
      gap: to-rem(30px);
      .amount {
        font-size: to-rem(24px);

        .material-icons {
          font-size: to-rem(24px);
        }
      }
    }

    .card-top {
      display: flex;
      justify-content: space-between;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        @include theme-aware("background", "primary-color");
        width: fit-content;
        padding: to-rem(10px);
        border-radius: 50%;

        &.savings {
          @include theme-aware("background", "savings-color");
        }

        &.inflow {
          @include theme-aware("background", "inflow-color");
        }

        &.outflow {
          @include theme-aware("background", "outflow-color");
        }

        .material-icons {
          color: #fff;
        }
      }
    }

    .action-info {
      display: flex;
      flex-direction: column;
      gap: to-rem(10px);

      h2 {
        @include theme-aware("color", "header-color");
        font-size: to-rem(16px);
        font-weight: 400;
      }

      h3 {
        word-break: break-all;
        @include theme-aware("color", "text-2-color");
        font-size: to-rem(20px);
      }
    }

    .quickaction-button {
      font-weight: 600;
      @include theme-aware("background", "primary-color");
      color: #fff;
      padding: to-rem(10px) to-rem(5px);
      border-radius: to-rem(12px);
      border: none;
      max-width: to-rem(200px);

      &:hover {
        transform: scale(1.05);
      }

      &.savings {
        @include theme-aware("background", "savings-color");
      }

      &.inflow {
        @include theme-aware("background", "inflow-color");
      }

      &.outflow {
        @include theme-aware("background", "outflow-color");
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
