@import "../../Assets/Styles/themes";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/functions";

    
    .budget-cards {
        @include theme-aware('background', 'card-bg-color');
        padding: to-rem(20px);
        border-radius: to-rem(12px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(to-rem(305px), 1fr));
        grid-auto-flow: dense;
        gap: to-rem(20px);
    }
