@use "../../../Assets/Styles/variables";
@import "../../../Assets/Styles/mixins";
@import "../../../Assets/Styles/functions";
@import "../../../Assets/Styles/themes";

.category-chart {
  min-width: to-rem(205px);

  .card {
    @include theme-aware("background", "card-bg-color");
    border-radius: to-rem(12px);
    padding: to-rem(20px);
    display: flex;
    flex-direction: column;
    gap: to-rem(20px);

    .top {
      display: flex;
      flex-direction: column;
      gap: to-rem(20px);
      margin-bottom: to-rem(10px);
      
      div:nth-of-type(1) {
        align-self: flex-end;
      }

      div:nth-of-type(2) {
        align-self: flex-start;
      }
    }

    .legend-doughnut {
      display: flex;
      flex-direction: column;
      gap: to-rem(20px);
      align-items: center;

      // @include breakpoint('m') {
      //   flex-direction: row-reverse;
      //   justify-content: space-around;
      // }

      .legend-bar {
        display: flex;
        gap: to-rem(20px);
        flex-wrap: wrap;

        // @include breakpoint('m') {
        //   display: grid;
        //   grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        //   grid-auto-flow: dense;
        //   gap: to-rem(20px);
        // }

        .legend {
          display: flex;
          align-items: center;
          gap: to-rem(10px);
          font-size: to-rem(12px);

          & > div:nth-of-type(1) {
            height: to-rem(variables.$default-fontsize);
            width: to-rem(variables.$default-fontsize);
          }

        }
      }

      canvas {
        max-height: to-rem(200px);
        max-width: to-rem(200px);
        align-self: center;
      }
    }
  }
}
