@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap");
@import "../../Assets/Styles/functions";

$Rufina: "Rufina", serif;

nav {
  width: 0;
  @include theme-aware("background", "card-bg-color");
  @include theme-aware("color", "header-color");
  @include h3-regular;
  z-index: 100;
  height: 100vh;
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: to-rem(50px);
  transition: 0.5s;

  a {
    @include theme-aware("color", "header-color");
  }

  li {
    padding-inline: to-rem(20px);
    div {
      visibility: hidden;
    }
  }

  @include breakpoint("m") {
    width: to-rem(70px);
  }

  .topNav {
    overflow-x: hidden;
    overflow-y: hidden;
    height: to-rem(40px);
    display: flex;
    align-items: center;
    font-family: $Rufina;
    @include theme-aware("background", "card-bg-color");

    @include breakpoint("m") {
      height: to-rem(60px);
    }

    .appLogo {
      @include h1-bold;

      @include breakpoint("m") {
        visibility: hidden;
        transition-delay: 0.2s;
      }
    }

    .hamburger-menu-wrapper {
      position: absolute;
      right: to-rem(-50px);
      top: to-rem(20px);
      height: to-rem(30px);
      display: flex;
      align-items: center;
      transition: 0.5s;

      &.open {
        right: to-rem(-30px);
      }

      @include breakpoint("m") {
        position: absolute;
        right: to-rem(20px);
        top: to-rem(30px);

        &.open {
          right: to-rem(10px);
        }
      }

      &:hover {
        cursor: pointer;
      }

      .hamburger-menu {
        transition: 0.5s ease-in;

        &::before,
        &::after,
        & {
          width: to-rem(30px);
          height: to-rem(5px);
          @include theme-aware("background", "header-color");
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
        }

        &::before {
          transform: translateY(to-rem(-10px));
          transition: 0.5s;
        }

        &::after {
          transform: translateY(to-rem(10px));
          transition: 0.5s;
        }

        &.open {
          background: transparent;
          transition: 0.1s;
        }

        &.open::before {
          transform: rotate(45deg);
          transition: 0.5s;
        }

        &.open::after {
          transform: rotate(-45deg);
          transition: 0.5s;
        }
      }
    }
  }

  .middleNav {
    overflow-x: hidden;
    flex-grow: 1;

    ul {
      display: flex;
      flex-direction: column;
      gap: to-rem(30px);

      li {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        gap: to-rem(20px);

        @include breakpoint("m") {
          padding-block: to-rem(10px);
          padding-inline: to-rem(20px);
        }

        &.active {
          @include theme-aware("background", "bg-color");
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .bottomNav {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    gap: to-rem(20px);

    .logout {
      visibility: hidden;
    }

    @include breakpoint("m") {
      padding-block: to-rem(10px);
      padding-inline: to-rem(20px);
    }

    &:hover {
      color: blue;
      cursor: pointer;
    }
  }

  // behaviour on open
  &.open {
    padding-block: to-rem(13px) to-rem(20px);
    width: to-rem(200px);

    .topNav {
      .appLogo {
        visibility: visible;
      }
      padding-inline: to-rem(20px);
    }

    li {
      padding-inline: to-rem(20px);
      div {
        visibility: visible;
      }
    }

    .bottomNav {
      padding-inline: to-rem(20px);
      .logout {
        word-break: keep-all;
        visibility: visible;
      }
    }

    // filter
    &::before {
      content: "";
      width: 100vw;
      height: 120vh;
      position: absolute;
      top: -10%;
      left: 100%;
      backdrop-filter: blur(2px);

      @include breakpoint("m") {
        content: unset;
      }
    }
  }
}
