@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/themes";
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap");
@import "../../Assets/Styles/functions";

$Rufina: "Rufina", serif;

nav {
  position: fixed;
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: to-rem(40px);
  @include theme-aware("background", "card-bg-color");
  @include theme-aware("color", "header-color");
  @include h3-regular;
  padding-block: to-rem(10px) to-rem(20px);
  transition: 0.3s ease-in;
  z-index: 10;

  .topNav {
    overflow-x: hidden;
    font-family: $Rufina;
    padding: to-rem(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include theme-aware("background", "card-bg-color");

    .appName {
      @include h1-bold;
      visibility: hidden;
    }

    .hamburger-menu-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: to-rem(15px);
      right: to-rem(-50px);
      height: to-rem(30px);
      transition: .2s;

      &:hover {
        cursor: pointer;
      }

      .hamburger-menu {
        transition: 0.3s ease-in;

        &::before,
        &::after,
        & {
          width: to-rem(30px);
          height: to-rem(5px);
          @include theme-aware("background", "header-color");
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
        }

        &::before {
          transform: translateY(to-rem(-10px));
        }

        &::after {
          transform: translateY(to-rem(10px));
        }

        &.open {
          background: transparent;
          transition: 0.1s;
        }

        &.open::before {
          transform: rotate(45deg);
          transition: .5s;
        }

        &.open::after {
          transform: rotate(-45deg);
          transition: .5s;
        }
      }
    }
  }

  .middleNav {
    flex-grow: 8;
    overflow-x: hidden;

    ul {
      display: flex;
      flex-direction: column;
      gap: to-rem(50px);

      li {
        display: flex;
        gap: to-rem(10px);
      }

      .icon {
        color: blue;
      }
    }
  }

  .bottomNav {
    overflow-x: hidden;
    display: flex;
    gap: to-rem(10px);
    align-items: center;
  }

  &.open {
    left: 0;
    width: to-rem(200px);
    padding-inline: to-rem(20px);

    .topNav {
      .appName {
        visibility: visible;
      }

      .hamburger-menu-wrapper {
        right: to-rem(-15px);
      }
    }
  }

  // for medium screens
  @include breakpoint("m") {
    width: to-rem(60px);

    .topNav {
      .hamburger-menu-wrapper {
        right: to-rem(15px);
        transition: 0.1s;
      }
    }

    .middleNav {
      ul {
        li {
          margin-left: to-rem(15px);
          transition: 0.1s;
          .navItemText {
            visibility: hidden;
          }
        }
      }
    }

    .bottomNav {
      .material-icons {
        margin-left: to-rem(15px);
      }
      .logout {
        visibility: hidden;
      }
    }

    &.open {
      width: to-rem(200px);

      .topNav {
        .appName {
          visibility: visible;
        }

        .hamburger-menu-wrapper {
          right: to-rem(-50px);
        }
      }

      .middleNav {
        ul {
          li {
            margin-left: 0;
            .navItemText {
              visibility: visible;
            }
          }
        }
      }

      .bottomNav {
        .material-icons {
          margin-left: 0;
        }
        .logout {
          visibility: visible;
        }
      }
    }
  }
}
