@import "../../../../../Assets/Styles/functions";
@import "../../../../../Assets/Styles/mixins";
@import "../../../../../Assets/Styles/themes";

#modal-budget-item-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-block: to-rem(20px);
  @include theme-aware("background", "card-bg-color");
  border-radius: to-rem(12px);
  min-width: to-rem(335px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: to-rem(20px);
  @include theme-aware("color", "header-color");
  max-height: 80vh;

  h2 {
    @include h1-regular;
    text-align: center;
  }

  form {
    padding-inline: to-rem(20px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: to-rem(20px);
    overflow-y: auto;
    @include scrollbar;

    .form-body {
      @include h3-regular;
      display: flex;
      flex-direction: column;
      gap: to-rem(30px);
      padding-bottom: to-rem(10px);

      input {
        height: to-rem(40px);
        font-size: to-rem(18px);
        border-radius: to-rem(12px);
        padding-left: 10px;
        padding-top: 5px;
        @include theme-aware("background", "bg-color");
        border: none;
        @include theme-aware("color", "text-color");
        width: 100%;

        &:focus {
          @include theme-aware("outline-color", "header-color");
        }
      }

      textarea {
        height: to-rem(60px);
        font-size: to-rem(18px);
        border-radius: to-rem(12px);
        padding-left: 10px;
        padding-top: 5px;
        @include theme-aware("background", "bg-color");
        border: none;
        @include theme-aware("color", "text-color");
        @include scrollbar;

        &:focus {
          @include theme-aware("outline-color", "header-color");
        }
      }

      .title {
        display: flex;
        gap: to-rem(10px);
        flex-direction: column;
      }

      .category {
        position: relative;
        display: flex;
        flex-direction: column;

        .category-selected {
          height: to-rem(40px);
          font-size: to-rem(18px);
          border-radius: to-rem(12px);
          padding-left: 10px;
          padding-top: 5px;
          @include theme-aware("background", "bg-color");
          border: none;
          @include theme-aware("color", "text-color");
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: to-rem(5px);

          .material-icons {
            font-size: to-rem(24px);
            transition: transform 0.3s ease;

            &.open {
              transform: rotate(180deg);
            }
          }
        }

        .category-options-container {
          display: none;
          position: absolute;
          top: to-rem(68px);
          font-size: to-rem(18px);
          border-radius: 0px 0px to-rem(12px) to-rem(12px);
          padding-left: 10px;
          padding-block: 5px;
          @include theme-aware("background", "bg-color");
          border: none;
          @include theme-aware("color", "text-color");
          width: 100%;
          filter: drop-shadow(0px to-rem(4px) hsla(0, 0%, 0%, 0.2));
          max-height: 25vh;
          overflow-y: auto;
          @include scrollbar;

          .category-options {
            padding-block: to-rem(10px);
            border-bottom: solid 2px;
            @include theme-aware("border-color", "card-bg-color");
          }

          .category-options.add-category {
            text-align: center;
            border-bottom: none;
          }

          &.show-true {
            display: block;
          }
        }
      }

      .description {
        display: flex;
        gap: to-rem(10px);
        flex-direction: column;
      }
    }
  }
  button {
    @include theme-aware("color", "btn-text-color");
    @include theme-aware("background", "btn-bg-color");
    @include h3-bold;
    padding: to-rem(14px);
    border-radius: to-rem(12px);
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
