@import "../../../Assets/Styles/functions";
@import "../../../Assets/Styles/mixins";
@import "../../../Assets/Styles/themes";

.date-filter-fixed {
  position: relative;
  font-size: to-rem(12px);
  z-index: 1;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .selected-option {
    padding-inline: to-rem(10px) to-rem(5px);
    @include theme-aware("background", "bg-color");
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: to-rem(3px);

    .material-icons {
      font-size: to-rem(24px);
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .filter-option-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: to-rem(5px);
    padding-block: to-rem(5px);
    @include theme-aware("background", "bg-color");

    .filter-option {
      width: 100%;
      text-align: left;
      padding-left: to-rem(10px);

      &:hover {
        transform: scale(1.05);
        @include theme-aware("background", "text-color");
        @include theme-aware("color", "bg-color");
      }
    }
  }
}
