@import "../../../Assets/Styles/mixins";
@import "../../../Assets/Styles/functions";
@import "../../../Assets/Styles/themes";


.custom-date-container {
  display: flex;
  gap: to-rem(10px);

  .custom-date-input {
    border: none;
    border-radius: 0;
    padding: to-rem(5px);
    // @include theme-aware("background-color", "bg-color");
    @include theme-aware("color", "text-color");
    font-size: to-rem(12px);
  }
}
