@use "./variables" as *;

$themes: (
  light: (
    "primary-color": $primary-color-dark,
    "header-color": $header-color-light,
    "bg-color": $bg-color-light,
    "card-bg-color": $card-bg-color-light,
    "text-color": $text-color-light,
    "text-2-color": $text-2-color-light,
    "btn-text-color": $btn-text-color,
    "budget-color": $primary-color-light,
    "savings-color": $savings,
    "inflow-color": $savings,
    "outflow-color": $outflow,
    "budget-item-color": $budget-item-text-color-light 
  ),
  dark: (
    "primary-color": $primary-color-dark,
    "header-color": $header-color-dark,
    "bg-color": $bg-color-dark,
    "card-bg-color": $card-bg-color-dark,
    "text-color": $text-color-light,
    "text-2-color": $text-2-color-dark,
    "btn-text-color": $btn-text-color,
    "budget-color": $primary-color-light,
    "savings-color": $savings,
    "inflow-color": $savings,
    "outflow-color": $outflow,
    "budget-item-color": $budget-item-text-color-dark
  ),
);
