@import "./mixins";
@import "./themes";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "./functions";

$Poppins: "Poppins", sans-serif;

body {
  font-family: $Poppins;
  @include theme-aware("background", "bg-color");
  @include theme-aware("color", "text-color");
  height: 100vh;
  min-width: to-rem(375px);

  .app {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    grid-template-rows: to-rem(70px) minmax(0, 1fr);
  }

  main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    max-height: calc(100vh - 70px);
    row-gap: to-rem(20px);
    padding-bottom: to-rem(20px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

}
