@import "./mixins";
@import "./themes";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "./functions";

$Poppins: "Poppins", sans-serif;

body {
  font-family: $Poppins;
  @include theme-aware("background", "bg-color");
  @include theme-aware("color", "text-color");
  height: 100vh;
  min-width: to-rem(375px);
}
